@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css");

.main-benefit{
    position: relative;
    padding: 0 0 100px 0;
    overflow-x: hidden;
    font-family: 'Nanum Gothic', sans-serif;
}
.main-benefit::before{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 513px;
    bottom: 0;
    background-color: #503396;
    z-index: -10;
}
.bene-title{
    width: 100%;
    padding: 50px 0 0 0;
    display: flex;
    justify-content: space-between;
}
.bene-title h1{
    margin: 0;
}
.bene-title a{
    color: #333;
    font-size: 20px;
    margin-top: 10px;
}
/***************slide************/

.beneslider{
    display: flex;
    
}


.slider{
    width: 360px;
    overflow: hidden;
    height: 325px;
    position: relative;
}
.slidein{
    width: 1910px;
    height: 325px;
    position: absolute;
    top: 0;
    left: 0px;
}
.slidein img{
    float: left;
}


.slider2{
    margin-right: 50px;
    width: 250px;
    overflow: hidden;
    height: 230px;
    position: relative;
}
.slidein2{
    width: 1450px;
    height: 230px;
    position: absolute;
}
.slidein2 img{
    display: block;
}

/*********************************/
.bene-btn{
    height: 20px;
    position: relative;
}
.benecontrol{
     
        padding-top: 5px;
}
.benecontrol span{
    float: left;
    width: 40px;
    height: 2px;
    margin-top: 5px;
    background-color: #ebebeb;

}
.benecontrol span:first-child{
    background-color: #503396;
}
.benebtncontrol{
    margin-left: 10px;
   width: 100px;
   margin: 0;
   position: absolute;
   top: 0;
   left: 220px;
}
.benebtncontrol i{
    cursor: pointer;
    color: #503396;
    font-size: 13px;
}
.benebtncontrol button{
    cursor: pointer;
    background: none;
    border: none;
    color: #503396;
}

/************************************/
.pcontrol{
    position: relative;
    top: -50px;
}
.bene-AD{
    position: relative;
    top: -23px;
}
.bene-AD img{
    border-radius: 5px;
}
.bene-banner a img{
    box-shadow:10px 10px 10px 0px rgba(0, 0, 0, 0.2);
}
.bannercard{
    width: 431px;
    height: 204px;
    margin-right: 20px;
}
.bannerevent{
    width: 204px;
    height: 204px;
}
.bene-adimg img{
    width: 430px;
    height: 530px;
    position: absolute;
    right: 0;
    bottom: 0;
}
.bene-menu{
    padding: 100px 0 0 0;
    display: flex;
    justify-content: space-around;
}
.bene-menu a{
    text-decoration: none;
    color: #fff;
    padding: 60px 0 0 0;
    
}
.bene-menu .vip a{
    background: url(../images/VIP.png) no-repeat center 2px;;
}
.bene-menu .membership a{
    background: url(../images/VIP.png) no-repeat center 2px;;
}
.bene-menu .card a{
    background: url(../images/VIP.png) no-repeat center 2px;;
}
.bene-menu .event a{
    background: url(../images/VIP.png) no-repeat center 2px;;
}
.bene-menu .store a{
    background: url(../images/VIP.png) no-repeat center 2px;;
}



